@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    
    height: 627px;
    width: 311px;

    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 270px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > a > img {
    border-radius: 50%;
    width: 50px;
    margin: 15px;
    margin-right: 20px;
    opacity: 85%;

    transition-timing-function: 0.3s ease-in-out;
    transition-duration: .2s;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.432);
}

section#redes-sociais > a > img:hover {
    width: 60px;
    opacity: 100%;
    outline: 2px solid white;
}

section#redes-sociais > a > img:active {
    transform: scale(95%);
}